title = "Cloud Native Cookbook"
baseurl = "https://cloudnative.lei6393.com/"
disableAliases = true
disableHugoGeneratorInject = true
enableEmoji = true
enableGitInfo = true
enableRobotsTXT = true
languageCode = "zh-CN"
rssLimit = 10
summarylength = 20

# Multilingual
defaultContentLanguage = "zh"
disableLanguages = ["de", "nl", "en"]
defaultContentLanguageInSubdir = false

copyRight = "Copyright (c) 2024-2025 Cloud Native Cookbook"

[build.buildStats]
  enable = true

[outputs]
  home = ["HTML", "RSS", "searchIndex", "SITEMAP"]
  section = ["HTML", "RSS", "SITEMAP"]

[outputFormats.searchIndex]
  mediaType = "application/json"
  baseName = "search-index"
  isPlainText = true
  notAlternative = true

[outputFormats.SITEMAP]
  mediaType = "application/xml"
  baseName = "sitemap"
  isHTML = false
  isPlainText = true
  noUgly = true
  rel  = "sitemap"

[sitemap]
  changefreq = "monthly"
  filename = "sitemap.xml"
  priority = 0.5

[caches]
  [caches.getjson]
    dir = ":cacheDir/:project"
    maxAge = -1

[taxonomies]
  contributor = "contributors"
  category = "categories"
  tag = "tags"

[permalinks]
  blog = "/blog/:slug/"
  docs = "/docs/:sections[1:]/:slug/"

[minify.tdewolff.html]
  keepWhitespace = false

[pagination]
  pagerSize = 10

[related]
  threshold = 80
  includeNewer = true
  toLower = false
    [[related.indices]]
      name = "categories"
      weight = 100
    [[related.indices]]
      name = "tags"
      weight = 80
    [[related.indices]]
      name = "date"
      weight = 10

[imaging]
  anchor = "Center"
  bgColor = "#ffffff"
  hint = "photo"
  quality = 85
  resampleFilter = "Lanczos"

[services.googleAnalytics]
  ID = ""

# 禁用 description 长度警告
ignoreLogs = ["description-too-long"]
